html, body {
        max-width: 100%;
        overflow-x: hidden;
}

body {
    background-image: url(./Images/mountain-opacity.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    position: relative;
    background-color: rgb(49, 84, 119);
    height: 50px;
    padding-bottom: 25px;
}

.main{
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgba(224, 224, 224, 0.8);
}

nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.navbar-text {
    padding: 0;
}

.navbar-brand {
    margin-left: 5px;
    align-items: center;
}

.nav-link {
    color: rgb(214, 214, 214); 
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
    color: rgb(43, 43, 43);
}

.dropdown {
    display: none;
}

.dropdown-toggle div {
    width: 25px;
    height: 2px;
    background-color: rgb(214, 214, 214); 
    margin: 5px;
}

.dropdown-toggle::after {
    content: none;
}

.header-line {
    margin: auto;
}

hr {
    background-image: url(./Images/mountain-opacity.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 3px;
}

.space {
    width: 50px;
    margin-bottom: 50px;
    margin-top: 0;
}

.logo-center {
    display: block;
    margin: auto;
    width: 30%;
}

/* .nav-title {
text-align: center;
margin: auto;
} */

/* .nav-links {
    color:  white;
    font-family: 'Poppins', sans-serif;
}

.nav-links:hover {
    color:  rgba(219, 189, 127);
    text-decoration: none;
} */

.landing {
    height: 100vh;
}

.propic {
    height: 50vh;
    display: block;
    margin-top: 15vh;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-radius: 100%;
    border-color: rgb(200, 200, 200); 
    border-width: 1;
}

.name-title {
    margin: auto;
}

h1 {
    position: relative;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 10vh;
    color: rgb(43, 43, 43);
    margin-bottom: 0;
}

h2 {
    position: relative;
    font-size: 7vh;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(43, 43, 43);
    font-family: 'Poiret One', cursive;
    padding-bottom: 20px;
}

.section-div {
    display: block;
    text-align: center;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    line-height: 20vh;
    width: 100%;
}

#about-me {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
}

.about-me-pic {
    width: 100%;
    object-fit: cover;
}

.section{
    margin: auto;
    margin-top: 25px;
    font-size: 50px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    color:  rgb(43, 43, 43);

}

/* .about-me-row {
 padding-bottom: 25px;
} */


.title {
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    color: rgb(43, 43, 43);
    margin-bottom: 0;
}

.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    opacity: 1;
    text-decoration: none;
    background-color: rgba(105, 124, 160, 0.25);
    border-style: none;
}
/* .card-img-top {
    background-image: url(./Images/mountain-opacity.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} */

.card:hover {
    opacity: .85;

}

.card-text {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.card-title {
    color: rgb(214, 214, 214); 
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}

.card-col {
    padding-top: 25px;
}

.img-thumbnail {
    padding: 5px;
    background-color: transparent;
    border: 0;
}

.site-link {
    margin-left: 5px;
    margin-right: 5px;
    color:rgb(49, 84, 119);
    font-size: 25px;
    vertical-align: middle;
}

.site-link:hover {
    color: rgb(43, 43, 43);
}

.btn {
    color:  rgba(214, 214, 214);
    background-color: rgb(49, 84, 119);
    border-style: none;
    font-family: 'Poiret One', cursive;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
}

.about-me-area {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.about-me-text {
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
}

.btn:hover {
background-color: rgb(214, 214, 214);
color: rgb(49, 84, 119);
}

.info {
    margin: 0;
    color:rgb(214, 214, 214);
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

h4 {
    margin-top: 15px;
    margin-bottom: 0px;
    color:rgb(214, 214, 214);
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}

form {
    width: 100%;
    margin: auto;
}

.card-text, .card-title {
    color: rgb(43, 43, 43);
}

#email-input {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    background-color: rgba(255, 255, 255, 0.75) !important;
    font-family: 'Poppins', sans-serif;
    color: rgb(35, 31, 32);
    font-size: 15px !important;
  }

textarea:focus,
input[type="text"]:focus,
textarea[type="text"]:focus,
input[type="email"]:focus {
  border-style: none;
  box-shadow: 0 0 8px rgb(49, 84, 119);
  outline: 0 none;
}

.first-pad {
    padding-right: 2.5px;
}
  
.last-pad {
    padding-left: 2.5px;
}

.form-group {
    margin-top: 5px;
    margin-bottom: 10px;
}
  

.contact-row{
    padding-top: 25px;
}

footer {
    position: relative;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(49, 84, 119);
}

.footer-contact {
    text-align: center;
}

.media {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:hover {
    text-decoration: none;
    color: rgb(43, 43, 43);
}

.social {
    margin-left: 5px;
    margin-right: 5px;
    color:rgb(214, 214, 214);
    font-size: 25px;
    vertical-align: middle;
}

.social:hover {
    color: rgb(43, 43, 43);
}

.footer-contact {
    margin: auto;
}

.media-top {
    padding-top: 20px ;
}
.media-bottom {
    padding-bottom: 20px;
}

.thank-you {
    padding-top: 40vh;
}

.home {
    margin-top: 2vh;
    text-align: center;
    font-size: 40px;
    color: rgb(35, 31, 32);
  }
  
  .home:hover {
    color: rgb(49, 84, 119);
  }
  
  .return {
    text-align: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: rgb(35, 31, 32);
  }
  
  .return-home {
    text-decoration: none;
  }
  
  .return-home:hover {
    text-decoration: none;
    color: rgb(49, 84, 119) !important;
  }

@media screen and (max-width: 900px) {

.logo-center {
    width: 50%;
}
}

@media screen and (max-width: 768px) {

    .dropdown {
        display: flex;
    }
    .full {
        display: none;
    }
    .about-p {
        margin-top: 20px;
    }

    .about-me-pic {
        max-width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .dropdown-menu {
        opacity: 75%;
    }

    .dropdown-item {
       font-family: 'Lora', serif;
    }

    .dropdown-item:hover {
        opacity: 100%;
        font-weight: bolder;
    }

    .about-me-area {
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-me-pic {
        margin-top: 20px;
    }

    .form {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 550px) {
    .logo-center {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 25px;
    }

    .about-me-pic {
        max-width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .propic {
        height: 40vh;
    }
}