* {
    margin: 0;
    padding: 0;
    position: relative;
    }

html, body {
        max-width: 100%;
        overflow-x: hidden;
}

body {
    background-image: url(./Images/sunsetop.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    position: relative;
    background-color: rgb(49, 84, 119);
    border-bottom-style: solid;
    border-color: rgb(200, 200, 200);
    border-width: .5;
    height: 50px;
    padding-bottom: 25px;
}

.header {
    padding-bottom: 25px;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.navbar-text {
    padding: 0;
}

.navbar-brand {
    margin-left: 5px;
    align-items: center;
}

.nav-link {
    color: rgb(214, 214, 214); 
    font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
    color: rgb(43, 43, 43);
}

.dropdown {
    display: none;
}

.dropdown-toggle div {
    width: 25px;
    height: 2px;
    background-color: rgb(214, 214, 214); 
    margin: 5px;
}

.dropdown-toggle::after {
    content: none;
}

.header-line {
    margin: auto;
}

hr {
    border-top: 1px solid rgba(219, 189, 127);
}

.logo-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.nav-title {
text-align: center;
margin: auto;
}

.nav-links {
    color:  white;
    font-family: 'Poppins', sans-serif;
}

.nav-links:hover {
    color:  rgba(219, 189, 127);
    text-decoration: none;
}

.propic {
    width: 60%;
    display: block;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-radius: 100%;
    border-color: rgb(200, 200, 200); 
    border-width: 1;
}

.name-title {
    margin: auto;
}

h1 {
    position: relative;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 75px;
    color: rgb(43, 43, 43);
    margin-bottom: 0;
}

h2 {
    position: relative;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(43, 43, 43);
    font-family: 'Poiret One', cursive;
    padding-bottom: 20px;
}

.top {
      background-image: url(./Images/mountain-opacity.png);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      border-bottom-style: solid;
      border-color: rgb(200, 200, 200);
      border-width: .5;
      margin-bottom: 25px;
}

.section-div {
    display: block;
    text-align: center;
    margin: auto;
    /* background-image: url(./Images/mountain-opacity.png); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    line-height: 200px;
}

#about-me {
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
}

.about-me-pic {
    width: 100%;
    object-fit: cover;
}

.about-me-div {
    background-image: url(./Images/deserty\ opacity.png);
    margin: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-top-style:solid;
    border-color: rgb(200, 200, 200);
    border-width: .5;
}

.portfolio-div {
   background-image: url(./Images/autumn-op.png);
   border-top-style:solid;
   border-color: rgb(200, 200, 200);
   border-width: .5;
}

.section{
    margin: auto;
    font-size: 50px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    color:  rgb(43, 43, 43);
}

.about-me-row {
 padding-bottom: 25px;
}

.card{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 5px;
    background-image: url(./Images/autumn-op.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    opacity: .85;
    text-decoration: none;
}

.card:hover {
    opacity: 1;

}

.card-text {
    text-decoration: none;
}

.card-title {
    color: rgb(214, 214, 214); 
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
}

.card-text {
    color: rgb(214, 214, 214); 
}

.card-col {
    padding-top: 25px;
}

.img-thumbnail {
    padding: 5px;
    background-color: transparent;
    border: 0;
}

.btn {
    color:  rgba(105, 124, 160);
    background-color: rgb(214, 214, 214);
    border-style: none;
}

.about-me-area {
    margin: auto;
}

.about-me-text {
    font-family: 'Poppins', sans-serif;
}

.btn:hover {
background-color: rgb(43, 43, 43);
color: rgb(214, 214, 214);
}

.info {
    margin: 0;
    margin-left: 10px;
    color:rgb(214, 214, 214);
    font-family: 'Lora', serif;
    font-weight: normal;
}

h4 {
    margin-top: 15px;
    margin-bottom: 5px;
    color:rgb(214, 214, 214);
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}

.card-text, .card-title {
    color: rgb(43, 43, 43);
}

.contact-row{
    padding-top: 25px;
}

footer {
    position: relative;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(49, 84, 119);
    border-top-style: solid;
    border-color: rgb(200, 200, 200);
    border-width: .5;
    margin-top: 25px;
}

.footer-contact {
    text-align: center;
}

.media {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:hover {
    text-decoration: none;
    color: rgb(43, 43, 43);
}

.social {
    margin-left: 5px;
    margin-right: 5px;
    color:rgb(214, 214, 214);
    font-size: 25px;
    vertical-align: middle;
}

.social:hover {
    color: rgb(43, 43, 43);
}

.footer-contact {
    margin: auto;
}

@media screen and (max-width: 900px) {

.logo-center {
    width: 50%;
}

.propic {
    width:100%;
}
}

@media screen and (max-width: 768px) {

    .dropdown {
        display: flex;
    }
    .full {
        display: none;
    }
    .about-p {
        margin-top: 20px;
    }

    .about-me-text {
        margin-top: 20px;
    }

    .about-me-pic {
        max-width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .dropdown-menu {
        opacity: 75%;
    }

    .dropdown-item {
       font-family: 'Lora', serif;
    }

    .dropdown-item:hover {
        opacity: 100%;
        font-weight: bolder;
    }
}
@media screen and (max-width: 550px) {
    .logo-center {
        width: 100%;
    }
}

@media (max-width: 500px) {
    body.custom-background {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
}

@media screen and (max-width: 450px) {

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 25px;
    }

    .about-me-pic {
        max-width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}